pandas==2.2.2
python-dotenv==1.0.1
mysql-connector-python==9.0.0
cryptography
pyarrow==17.0.0
tqdm==4.66.5
lightgbm==4.5.0
scikit-learn==1.5.2
numpy==1.26.4
joblib==1.4.2
fastapi==0.115.0
uvicorn==0.32.0
pydantic==2.9.0
sqlalchemy==2.0.36
pymysql==1.1.1
matplotlib==3.9.2
